<h1 *ngIf="!winner">Current Player : {{player}}</h1>
<input type="text" appRainbow>
<button nbButton outline status appHoldable (holdTime)="holdTime($event)">Holdable</button>
<button *ngIf="winner" nbButton outline status appHoldable (click)="newGame()">Start New Game</button>
<h2 *ngIf="winner">
  Player {{winner}} won the game!
</h2>
<main *ngIf="!winner">
  <app-square
    *ngFor="let square of this.squares;let i = index"
    [value] = "square"
    (click) = "makeMove(i)"
  >
  </app-square>
</main>
